* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/d027fa5a-b010-4932-a5cc-5160202a40ad/BR-pt-20211115-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: top center;
    

    
}


#heading {
   background: rgba(0, 0, 0, 0.5)
}

#heading div {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    

}

#heading .h1 {
    padding: 15px 0px;
    font-size: 20px;
    text-transform: uppercase;
    

}
#heading a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

#titulo {
    text-align: center;
    display: block;
    justify-content: center;
}

.texto {
    font-size: 45px;
    font-family: sans-serif;
    color: #fff;
    margin: 140px 0px 30px 0px;
    
}


.texto2 {
  
    font-size: 25px;
    font-family: sans-serif;
    color: #fff;  
    margin: 0px 0px 30px 0px;
   
}

.texto3 {
    font-size: 20px;
    font-family: sans-serif;
    color: #fff; 
    margin: 0px 0px 20px 0px;
  
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input { 
    width: 35%;
    height: 60px;
    font-size: 20px;
    padding-left: 15px;
    border: solid 1px #8c8c8c;
    outline: 0;
}


button {
    cursor: pointer;
    height: 60px;
    width: 15%;
    background-color: #e50914;
    font-size: 20px;
    color: #fff;
    flex-direction: row;
    align-items: center;
    border: solid 1px #e50914;

}

button:hover {
    background: #f40612;

}





